name: Rodar Testes

on:
  push:
    branches: [ main, stage ]
  pull_request:
    branches: [ main, stage ]

jobs:
  pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Instalar yarn
        run: yarn

      - name: Rodar testes
        run: yarn run jest --coverage --updateSnapshot --ci --silent

      - name: Scanner do SonarCloud
        uses: SonarSource/sonarcloud-github-action@v1.8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Envia cobertura para o Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./
          # env_vars: OS,PYTHON
          fail_ci_if_error: true
          files: ./coverage/clover.xml
          flags: unittests
          name: 2022-2-MeasureSoftGram-Front
          verbose: true
